@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap");
* {
  box-sizing: border-box;
}
:root {
  font-family: "Montserrat", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
.flex {
  display: flex;
}
.flex-w-wrap {
  flex-wrap: wrap;
}
.gap-20p {
  gap: 20px;
}
.j-center {
  justify-content: center;
}
.a-center {
  align-items: center;
}
.bg-vio-mid {
  background: rgb(166, 0, 255);
}
.border-3{
  border: 3px solid;
}
.border-vio-dark{
  border-color: rgb(150, 0, 231);
}
.bg-vio-light {
  background: rgb(190, 70, 255);
}
.bg-vio-dark {
  background: rgb(150, 0, 231);
}
.h-5r {
  height: 3rem;
}
.pad-5p {
  padding: 10px;
}
.pad-2r {
  padding: 2rem;
}
.pad-1r {
  padding: 1rem;
}
.text-w-balance {
  text-wrap: balance;
}
.border-0 {
  border: 0px;
}
.border-r-10p {
  border-radius: 10px;
}

.border-r-20p {
  border-radius: 20px;
}
.outline-n {
  outline: none;
}
.col-black {
  color: black;
}
.dialog-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fsize-1r {
  font-size: 1rem;
}
.fsize-20p {
  font-size: 20px;
}